/* General Styling */
body {
    margin: 0;
    font-family:'Lora', serif ;
    background-color: #f7f7f7;
    background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    color: black;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover, .active {
    color: #8b8b8b;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(247,247,247,1)),
                url('https://images.unsplash.com/photo-1504203700686-0b24b241c5f3?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    color: #222;
}

.hero-text span {
    color: #777;
}

.hero-text p {
    font-size: 1.2em;
    margin: 15px 0 25px 0;
}

.btn {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #555;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}
