<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surya's Pencil</title>
    <link rel="stylesheet" href="/static/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Explora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Lora&family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class='hero'>
        <div class='nav'>
            <h2>About Surya's Pencil</h2>
            <p>A Journey in Shades</p>
        </div>
        <div class='image'>
            <img src='/static/img/girl.jpg'>

        </div>
        <div class='contents'>
            <h3>Hi, I'm Surya</h3>
            <p class='ph'>I've always found peace in the quiet scratch of pencil against paper. To me, art isn't smething to look at - it's something to feel.</p>
            <p class='ph'><strong>Surya's Pencil</strong> is Where I pour pieces of my heart into lines, shades and shadows.Every Sketch you see here is a story, a memory or a feeling I couldn't put into words</p>
            <p class='thanks'>Thank You for taking a moment to feel them with me ♥</p>
        </div>
    </div>
</body>
</html>
