<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surya's Pencil</title>
    <link rel="stylesheet" href="../static/gallery.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class='hero'>
        <section>
            <h1>My Graceful Works</h1>
        </section>

        <div class='cards'>
            <div class='card'>
                <img src='../static/img/art2.jpg'>
                <button><a href='../static/img/art2.jpg' download='GraphiteWhispers1.jpg'>Download Now</a></button>
            </div>
            <div class='card'>
                <img src='../static/img/art11.jpg'>
                <button><a href='../static/img/art11.jpg' download='GraphiteWhispers2.jpg'>Download Now</a></button>
            </div>
            <div class='card'>
                <img src='../static/img/art3.jpg'>
                <button><a href='../static/img/art3.jpg' download='GraphiteWhispers3.jpg'>Download Now</a></button>
            </div>
            <div class='card'>
                <img src='../static/img/art7.jpg'>
                <button><a href='../static/img/art7.jpg' download='GraphiteWhispers4.jpg'>Download Now</a></button>
            </div>
            <div class='card'>
                <img src='../static/img/art9.jpg'>
                <button><a href='../static/img/art9.jpg' download='GraphiteWhispers5.jpg'>Download Now</a></button>
            </div>
            <div class='card'>
                <img src='../static/img/art8.jpg'>
                <button><a href='../static/img/art8.jpg' download='GraphiteWhispers6.jpg'>Download Now</a></button>
            </div>
            <div class='card'>
                <img src='../static/img/art6.jpg'>
                <button><a href='../static/img/art6.jpg' download='GraphiteWhispers7.jpg'>Download Now</a></button>
            </div>
            <div class='card'>
                <img src='../static/img/art13.jpg'>
                <button><a href='../static/img/art13.jpg' download='GraphiteWhispers8.jpg'>Download Now</a></button>
            </div>
             <div class='card'>
                <img src='../static/img/art12.jpg'>
                <button><a href='../static/img/art12.jpg' download='GraphiteWhispers9.jpg'>Download Now</a></button>
            </div>
                        <div class='card'>
                <img src='../static/img/art4.jpg'>
                <button><a href='../static/img/art4.jpg' download='GraphiteWhispers10.jpg'>Download Now</a></button>
            </div>
            <div class='card'>
                <img src='../static/img/art1.jpg'>
                <button><a href='../static/img/art1.jpg' download='GraphiteWhispers11.jpg'>Download Now</a></button>
            </div>
        </div>
    </div>
</body>
</html>
